// -----------------------------------------------------
// LOGO
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

// -----------------------------------------------------
// SEARCH
.search{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-smallest){
       order: 1;
       flex: 0 0 100%;
    }
    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        color: inherit;
        padding: .7rem 2rem;
        border: none;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.25rem;
        transition: all .2s;
        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    &__input:focus + __button{
        background-color: var(--color-grey-light-3);
    }
    &__button{
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus{
            outline: none;
            transform: translateY(2px);
        }
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

// -----------------------------------------------------
// USER
.user-nav{
    display: flex;
    align-items: center;
    align-self: stretch;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & > *:hover{
       background-color:  var(--color-grey-light-2);
    }

    &__box-icon{
        position: relative;
    }

    &__icon{
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        background-color: var(--color-primary);
        top: 1.5rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

}

// -----------------------------------------------------
// SIDEBAR
.side-nav{
    list-style: none;
    margin-top: 3.5rem;
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium){
        display: flex;
        margin: 0;
    }
    &__item{
        position: relative;

        @media only screen and (max-width: $bp-medium){
            flex: 1;
        }
        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium){
                margin: 0;
            }
        }
    }
    &__item::before{
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .3s, 
                    width .5s cubic-bezier(1,0,0,1) .3s,
                    background-color .1s;
    }
    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before{
        background-color: var(--color-primary-light);
    }
    &__link:link,
    &__link:visited{
        position: relative;
        text-decoration: none;
        color: var(--color-grey-light-1);
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        z-index: 10;

        @media only screen and (max-width: $bp-medium){
            justify-content: center;
            padding: 2rem;
        }
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            align-items: center;
            padding: 1.5rem .5rem;
        }
    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
        @media only screen and (max-width: $bp-small){
            width: 1.5rem;
            height: 1.5rem;
            margin: 0;
        }
    }
}
// -----------------------------------------------------
// LEGAL TEXT
.legal{
    text-align: center;
    font-size: 1.2rem;
    padding: 2.5rem;
    color: var(--color-grey-light-4);

    @media only screen and (max-width: $bp-medium){
        display: none;
    }
}
// -----------------------------------------------------
// Gallery
.gallery{
    display: flex;

    &__photo{
        width: 100%;
        display: block;
    }
}
// -----------------------------------------------------
// Overview
.overview{
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }
    &__stars{
        margin-right: auto;
        display: flex;
    }
    &__icon-star,
    &__icon-location{
        fill: var(--color-primary);
        width: 1.75rem;
        height: 1.75rem;
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__location{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    &__rating{
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 2.25rem;
        @media only screen and (max-width: $bp-small){
            padding: 0 1.5rem;
        }
    }

    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
        }
    }

    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;
        @media only screen and (max-width: $bp-small){
            font-size: .5rem;
        }
    }
}


// -----------------------------------------------------
// Button
.btn-inline{
    background-color: initial;
    border: none;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    padding-bottom:2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;
    span{
        margin-left: 3px;
        transition: margin-left .3s;
    }
    &:hover{
        color: var(--color-grey-dark-1);
        span{
            margin-left: 8px;
        }
    }
    &:focus{
        outline: none;
        animation: puls 1s infinite;
    }
    @keyframes puls {
        0%{
            transform: scale(1);
            box-shadow: initial;
        }
        50%{
            transform: scale(1.05);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
        }
        100%{
            transform: scale(1);
            box-shadow: initial;
        }
    }
}

// -----------------------------------------------------
// Paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}



// -----------------------------------------------------
// List
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }
    &__item::before{
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: .7rem;
        background-image: url('../img/chevron-thin-right.svg');
        background-size: cover;
        @supports (-webkit-mask-image: url()) or (mask-image: url()){
        background-color: var(--color-primary);
        -webkit-mask-image: url('../img/chevron-thin-right.svg');
        -webkit-mask-size: cover;
        }   
    }
}

// -----------------------------------------------------
// Recommend
.recommend{
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
    &__count{
        margin-right: auto;
    }
    &__friends{
        display: flex;
    }
    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        &:not(:last-child){
            margin-right: -2rem;
        }
    }
}

// -----------------------------------------------------
// Review
.review{
    padding: 3rem;
    margin-bottom: 3.5rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: $bp-medium){
        padding: 2rem;
        margin-bottom: 3rem;
    }
    &::before{
        content: '\201c';
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
    &__text{
        font-weight: 600;
       position: relative;
       z-index: 10;
    }

    &__user{
        display: flex;
        align-items: center;
        margin-top: 1.5rem;

        &-box{
            margin-right: auto;
        }
        &-name{
            font-weight: 600;
            font-size: 1.1rem;
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
        &-date{
            font-size: 1rem;
            font-weight: 300;
            color: var(--color-grey-dark-3);
        }
    }

    &__photo{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 2rem;
    }
    &__rating{
        color: var(--color-primary);
        font-size: 2rem;
        font-weight: 600;
    }
}

// -----------------------------------------------------
// Call To Action
.cta{
    padding: 3.5rem 0;
    text-align: center;
    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }
    &__book-now{
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

// -----------------------------------------------------
// Book Button
.btn{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > *{
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all .2s;
    }
    &__visible{
        padding: 2rem 7.5rem;

    }

    &__hidden{
        position: absolute;
        left: 0;
        top: -100%;
        padding: 2rem 0;
    }
    &:hover{
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }
    &:focus{
        outline: none;
        animation: puls 1s infinite;
    }
    &:hover &__visible{
        transform: translateY(100%);
    }
    &:hover &__hidden{
        top: 0;
    }
}