.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    
    @media only screen and (max-width: $bp-largest){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest){
        height: 14rem;
        align-content: space-around;
        flex-wrap: wrap;
    }
}

.content{
    display: flex;
    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hotel-view{
    background-color: #fff;
    flex: 1;
}

.detail{
    display: flex;
    padding: 4.5rem;
    border-bottom: var(--line);
    background-color: var(--color-grey-light-1);
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-medium){
        padding: 3rem;
    }
    @media only screen and (max-width: $bp-small){
        flex-direction: column;
    }
}
.description{
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    border-radius: 3px;
    @media only screen and (max-width: $bp-medium){
        padding: 2rem;
        margin-right: 3rem;
    }
    @media only screen and (max-width: $bp-small){
        margin-right: 0;
        margin-bottom: 3rem;
    }
}
.user-reviews{
    flex: 1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}